export OTEL_TRACES_EXPORTER="none"
export OTEL_METRICS_EXPORTER="console"
export OTEL_LOG_LEVEL="debug"
# export NODE_OPTIONS="--require ./instrumentation.js"
export OTEL_NODE_RESOURCE_DETECTORS="env,host,os,serviceinstance"
